.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.header{
  
  // position: fixed;
  // width: 100%;
  // margin-bottom: 1.3rem;
  &__navbar{
    height: 2.5em;
    display: flex;
    justify-content: space-evenly;
    background: $priamry;
    padding: 10px;
    a{
      color: white;
      text-decoration: none;
      font-size: 18px;
    }
  }
}

.footer{
    i{
        font-size: 45px;
        cursor: pointer;
    }
}