
.login-page_title {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
  text-align: center;
}
.login-form {
  padding-top: 100px;
  margin-left: -40px;
  position: relative;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  justify-content: center;
}

.input-field,
form .button {
  margin: 25px 0;
  position: relative;
  height: 50px;
  width: 100%;
}

.input-field input {
  height: 100%;
  width: 100%;
  padding-left: 15px;
  outline: none;
  font-size: 19px;
  transition: 0.4s;
  border: 1px solid #2a9bd7;
  border-radius: 15px;

}

.input-field label,
span.show {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.input-field label {
  left: 15px;
  pointer-events: none;
  color: grey;
  font-size: 18px;
  transition: 0.4s;
}

input:focus ~ label,
input:valid ~ label {
  transform: translateY(-33px);
  background: white;
  font-size: 16px;
  color: #2a9bd7;
}

.input-field i {
  position: absolute;
  font-size: 25px;
  color: grey;
  margin: 15px 0 0 -45px;
}

i.show_pass {
  margin-top: 15px;
  top: 0;
  left: 490px;
}

i.s_pass {
  margin-top: 15px;
  top: 0;
  left: 330px;
}

.sub-log {
  display: flex;
  padding-left: 20px;
  color: #333;
}

.sub-log a {
  padding-left: 20px;
  color: #333;
}

.sub-log a:hover {
  color: #1da1f2;
}

form .button {
  margin-top: 50px;
  overflow: hidden;
  z-index: 111;
}

.btn-login {
  z-index: 1;
  position: relative;
  font-size: 19px;
  font-weight: bold;
  width: 80%;
  height: 50px;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(180, 12%, 28%);
  overflow: hidden;
  transition: color 0.4s ease-in-out;
  border-radius: 10px;
  margin-left: 35px;
}

.btn-login::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.5em;
  height: 50px;
  border-radius: 50%;
  background-color: #2a9bd7;
  transform-origin: center;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  transition: transform 0.45s ease-in-out;
}

.btn-login:hover {
  cursor: pointer;
  color: #fff;
}

.btn-login:hover::before {
  transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}

.btn-login:active {
  transform: scale(0.95);
}

.sub-log input[type="checkbox"] {
  background: #3498db;
}

.containers .auth {
  margin: 35px 0 20px 0;
  font-size: 19px;
  color: rgb(10, 10, 10);
}

.links {
  display: flex;
  cursor: pointer;
  color: #fff;
}


.links i {
  font-size: 23px;
  line-height: 40px;
  margin-left: -90px;
}

.links span {
  position: absolute;
  font-size: 17px;
  font-weight: bold;
  padding-left: 8px;
  font-family: "Open Sans", sans-serif;
}

.signup {
  margin-top: 10px;
  color: #333;
}

.signup a {
  color: #3498db;
  text-decoration: none;
}

.signup a:hover {
  text-decoration: underline;
}

.text-danger {
  color: #dd4b39;
}