.center{
    text-align: center;
    align-items: center;
}
.w100{
    width: 100%;
}
.fs-18{
  font-size: 18px;
  font-weight: 700;
}
.fs-30{
  font-size: 30px;
}
.fw-bold{
  font-weight: 700;
}
.fw-medium{
  font-weight: 500;
}
.d-flex{
  display: flex;
}
.active{
  color:#ed2024;
}
.p3{
padding: 3rem 0 3rem .3rem;
}
.bg-active{
  background: #00d1b2;
  color: #fff;
  padding: 10px;
  border-radius: .3rem;
}