@use './modules/root'as *;
@import './modules/common';
@import './modules/login' ;
@import './modules/banner';
@import './modules/carousel';
.flatpickr-input{
width: 300px !important;
height: 35px !important;
border-color: #ccc;
border-radius: .3rem !important;

}